<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Vagrant Assignment">
	  <test name="PositiveTest">
		  <classes>
		  		<class name="com.testVagrant.tests.TestCases"/>
		  </classes>
	  </test> <!-- Test -->
  
	   
</suite> <!-- Suite -->